.swal2-container {
    z-index: 9999;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
    cursor: pointer;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
    cursor: pointer;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
    cursor: pointer;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
    cursor: pointer;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
    cursor: pointer;
}

.colored-toast .swal2-title {
    color: white;
    cursor: pointer;
}

.colored-toast .swal2-close {
    color: white;
    cursor: pointer;
}

.colored-toast .swal2-html-container {
    color: white;
    cursor: pointer;
}

.stats-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 1400px) {
    .stats-icon {
        margin-left: 20px;
    }

    /* ::-webkit-scrollbar {
    display: none;
  } */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    padding: 10px;
  }

  .fieldset-container {
    display: flex;
    gap: 10px;
    justify-content: center; /* Alineación centrada */
  }

  fieldset {
    flex: 0.5;
    border: 0.01px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: white;
  }

  fieldset div {
    margin: 5px 0;
  }

  svg {
    margin-bottom: 5px;
  }

  select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }

  .p2 {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .Button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 1px 10px;
    cursor: pointer;
    position: relative;
  }

  .Button:hover {
    background-color: transparent;
  }

  .options {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(100% - 10px); /* Ajustar según sea necesario */
    top: calc(100% + 5px); /* Ajustar según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s ease-in-out;
  }

  .fieldset1 .options {
    width: 200%;
    left: -50%;
    transform: none;
    color: inherit;
    top: calc(120% + 5px); /* Ajustar según sea necesario */
  }

  fieldset:hover .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 1;
  }

  .options button {
    width: 100%;
    text-align: left;
    padding: 8px 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    color: inherit;
  }

  .options button:hover {
    background-color: #f0f0f0;
  }

  .divider {
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: #ccc;
    left: 10%;
    top: calc(100% + 5px);
  }
  .panel {
    background-color: transparent;
    border-radius: 10px;
    border-color: red;
    padding: 20px;
    margin: 20px 0;
    display: flex; /* Agregamos esta línea para hacer que los elementos estén en línea */
}
.total-cuentas {
    /* Ya no es necesario el display: flex aquí */
    align-items: center;
    overflow: hidden; /* Para ocultar el desbordamiento si el contenido es demasiado grande */
    flex: 1; /* Distribuir el espacio disponible igualmente entre los elementos */
}

.ScalarValue {
    font-size: 3.2rem;
    font-weight: bold;
    color: #3490dc;
    margin: 0; /* Elimina el margen predeterminado */
}

.emotion-1sbz69m {
    margin: 0; /* Elimina el margen predeterminado */
}
canvas .lineChart {
            max-width: 800px;
            margin: 20px auto;
            display: block;
        }